.imageCol {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 345px;
    gap: 10px;
    padding-top: 100px;
}

.image {
    width: inherit;
    height: 258px;
    background: url(https://www.iitg.ac.in/chem/banner/81c4240aadc68e17b3cd674585b657fa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px
}

.imageS {
    width: inherit;
    height: 258px;
    background: url(../../../components/Images/Logos/image\ 21.png), rgba(211, 211, 211, 0) 100% / cover ;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.imageColCenter {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 345px;
    gap: 10px;
}